<h1>Login to Guitars</h1>

<!-- Template Vars -->
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

  <fieldset>
    <label for="username">Username: </label>
    <input type="text"
      placeholder="johndoe"
      #username="ngModel"
      ngModel
      name="username"
      id="username"
      required
      minlength="3"
      maxlength="40" />
  </fieldset>

  <div *ngIf="username.errors && (username.dirty || username.touched)">
    <p *ngIf="username.errors['required']">Username is required</p>
    <p *ngIf="username.errors['minlength']">Username is too short</p>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>


